*.lock
*.env
*.vscode
*.json
*.sh
*.js
*.txt
*.pdf
*.svg
target
internal
safety_copy
raw_img
tutorlolv2_exports
sprite
cache
img
formulas
read_only
converted
tutorlolv2_generated/src/data/*
!tutorlolv2_generated/src/data/mod.rs