html {
    line-height: 1.5;
    text-size-adjust: 100%;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
}

.punctuation {
    color: #D4D4D4;
}

.control {
    color: #C586C0;
}

.lifetime,
.keyword,
.macro,
.boolean {
    color: #569CD6;
}

.primitive,
.type {
    color: #4EC8B0;
}

.comment {
    color: #959596;
}

.function {
    color: #DCDCAA;
}

.number,
.float {
    color: #B3CDA8;
}

.constant,
.intrinsic {
    color: #4FC1FF;
}

.bracket_1 {
    color: #FFD700;
}

.bracket_2 {
    color: #DA70D6;
}

.bracket_3 {
    color: #189FFF;
}

.string {
    white-space: break-spaces;
    color: #CE9178;
}

.variable {
    color: #9CDCFE;
}

code,
pre {
    color: #D4D4D4;
    line-height: 1.5;
    background: transparent;
    font-family: Consolas, Monaco, 'AndaleMono', 'UbuntuMono', monospace;
    font-size: 1em;
}

code {
    display: block;
    overflow-x: auto;
}

code pre {
    margin: 0;
    white-space: pre-wrap;
    word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0px;
}

body {
    color: #ffffff;
    background-color: #121212;
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(153, 153, 153, 0.4);
    border-radius: 4px;
    border: 1px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(153, 153, 153, 0.7);
}

table {
    inline-size: fit-content;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

table thead tr {
    background-color: #18181b;
}

table tbody tr:nth-child(odd) {
    background-color: #16161c;
}

table tbody tr:nth-child(even) {
    background-color: #1c1c21;
    border-bottom: 1px solid #3f3f46;
    border-top: 1px solid #3f3f46;
}

table tr {
    height: 48px;
}

table tbody tr:last-child {
    border-bottom: none !important;
}

table th,
table td {
    transition: .2s ease;
    padding: 0 8px;
}

table img {
    height: 32px;
    min-width: 32px;
    width: 32px;
    justify-self: center;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.box {
    box-shadow: 0 0 10px 2.5px #08080f;
}

.w-12 {
    width: 3rem;
}

.h-12 {
    height: 3rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.border {
    border-width: 1px;
    border-style: solid;
}

.border-std-800 {
    border-color: #27272a;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-std-200 {
    color: #e4e4e7;
}

.font-medium {
    font-weight: 500;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.gap-6 {
    gap: 1.5rem;
}

.gap-4 {
    gap: 1rem;
}

.gap-2 {
    gap: 0.5rem;
}

.place-self-center {
    justify-self: center;
}

.max-w-6xl {
    max-width: 72rem;
}

.content-baseline {
    align-content: baseline;
}

.w-full {
    width: 100%;
}